<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="StartNumber" value="0"/>
    <add key="EndNumber" value="1024"/>
    <add key="TemplateFilePath" value="template.txt"/>
    <add key="OutputFilePath" value="generated_code.vhd"/>
  </appSettings>
</configuration>